<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vsokoltsov.stackqa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".controllers.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver
            android:name=".receiver.AppStartReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME"></category>
            </intent-filter>
        </receiver>

        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".views.questions.list.QuestionsListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.questions.detail.QuestionDetail"
            android:label="@string/title_activity_question_detail" >
        </activity>
        <activity
            android:name=".views.questions.form.QuestionsFormActivity">
        </activity>
        <activity
            android:name=".views.answers.AnswerList"
            android:label="@string/title_activity_answer_list" >
        </activity>
        <activity
            android:name=".views.answers.AnswerForm"
            android:label="@string/title_activity_answer_form" >
        </activity>
        <activity
            android:name=".views.auth.AuthorizationActivity"
            android:label="Sign in" >
        </activity>
        <service android:enabled="true" android:name=".receiver.StartedService">
        </service>
    </application>

</manifest>
